/*
	material-table

	material-table.styl

	Author: Sean Goresht

	Created on 2015-03-10 in PhpStorm
*/
/*
	MyAxiom2014

	relationship-manager.styl

	Author _admin

	Created on 2015-03-10 by PhpStorm
*/
/* -- Variables -- */
/* -- import Roboto Font -- */
@import url("//fonts.googleapis.com/css?family=Roboto400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic");
.table {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12), 0 1px 2px 0 rgba(0,0,0,0.24);
  width: 100%;
  max-width: 100%;
  margin-bottom: 2em;
  background-color: #fff;
  border: 0;
  border-collapse: collapse;
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue, Helvetica, Arial", sans-serif;
  color: #212121;
}
.table th,
.table td {
  text-align: left;
  padding: 1.6em;
  vertical-align: top;
  border: inherit;
}
.table thead tr {
  border-bottom: 1px solid #e1e1e1;
}
.table thead th {
  font-weight: 400;
  color: #3f3f3f;
  vertical-align: bottom;
}
.table caption + thead tr:first-child,
.table colgroup + thead tr:first-child,
.table thead:first-child tr:first-child {
  border-top: 0;
}
.table caption + thead tbody + .table caption + thead tbody,
.table colgroup + thead tbody + .table colgroup + thead tbody,
.table thead:first-child tbody + .table thead:first-child tbody {
  border-top: 1px solid #dedede;
}
.table caption {
  opacity: 0.5;
  font-size: 0.8em;
  text-transform: uppercase;
  font-style: italic;
  text-align: left;
  line-height: 2;
  margin: 1em 0;
}
.table-header-title {
  font-size: 2.4em;
  line-height: 3.2em;
  letter-spacing: 0;
  font-weight: 300;
  color: #212121;
  text-transform: inherit;
  margin-bottom: 1em;
  text-align: center;
}
.table-header-subtitle {
  font-size: 1.5em;
  line-height: 2.8em;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: #212121;
  text-align: center;
}
.table-bordered thead tr {
  border-bottom-width: 2px;
}
.table-bordered tr {
  border-bottom: 1px solid #e1e1e1;
}
.table-condensed tr,
.table-condensed th,
.table-condensed td {
  padding: 0.8em;
}
.table-striped tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}
.table-hover tbody tr {
  transition: background-color 0.3s ease, opacity 0.3s ease;
}
.table-hover tbody tr:hover {
  background-color: #e7e7e7;
}
@media screen and (max-width: 768px) {
  .table-responsive-vertical .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive-vertical .table thead,
  .table-responsive-vertical .table tfoot {
    display: none;
  }
  .table-responsive-vertical .table tbody {
    display: block;
  }
  .table-responsive-vertical .table tbody tr {
    display: block;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    margin-bottom: 1.6em;
  }
  .table-responsive-vertical .table tbody tr td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  .table-responsive-vertical .table tbody tr td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #3f3f3f;
  }
}
